:root {
--color: #B18D72;
}
.fotoBanner {
  background-image: url(./assets/img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;

}

.alinear {
  height: 450px;
  width: 50%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-right: 10px;

}

h1,
p {
  color: white
}
.alinear button{
  color:white;
  background-color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
  border-radius: 5rem solid rgba(0,0,0,0.64);
}
/*************************** Productos************************** */
.container {
  background-color: black;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: white;
  background-color: rgb(67, 64, 64);
}

.dulceDLeche {
  display: flex;
  justify-content: end;
  
}

.dulceDLeche img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto;
/*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.titulo {
  text-align: center;
  justify-content: flex-end;
  padding: 10px;
}

h3 {
  color: var(--color);
  font-weight: 100;
}
.presentacion1{
  color: var(--color);
  font-weight: 500;
  overflow: hidden;
}

.titulo button {
  border: 2px solid #B18D72;
  color: var(--color);
}

/***************************************** Sin azucar**************************************** */
.sinAzucar{
  display: flex;
  justify-content: end;
}
.sinAzucar img {
  /*   background-image: url(./assets/img/productos/Producto2.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto;
}
 /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 */
   
.presentacion2{
  color:var(--color);
  font-weight: 500;
  overflow: hidden;
}
h4{
  color:var(--color);
  font-weight: 100;

}
/***********************************************Dulce Choconutt ***********************************************/
.dChoconutt{
  display: flex;
  justify-content: end;
}
.dChoconutt img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto;
 /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.presentacion3{
  color:var(--color);
  font-weight: 500;
  overflow: hidden;
  
}
h5{
  color:var(--color);
  font-weight: 100;

}

/***************************************** Destacado**************************************** */
.destacado{
  background-image: url(./assets/img/productos/Producto4b.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;

}













/***************************************** Media Query**************************************** */
@media screen and (max-width:775px) {
  .dulceDLeche img {
    width: 20rem;
  }
}