:root {
  --color: #B18D72;
}

.fotoBanner {
  background-image: url(./assets/img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position: center; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;

}

.alinear {
  height: 450px;
  /* modificado */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  text-align: center;

}

h1 {
  color: white;
  font-size: 2.5rem;
  
}

.info {
  color: white;
  font-size: 1rem;
  margin: 10px 0;

}

.alinear button {
  color: white;
  background-color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
  border-radius: 5rem solid rgba(0, 0, 0, 0.64);
  padding: 10px 20px;

  font-size: 1rem;

}

/*************************** Productos************************** */


h2 {
  margin: 0;
  text-align: center;
  color: white;
  background-color: rgb(67, 64, 64);
}

.contPrincipal {
  background-color: black;
  display: flex;
  justify-content: start;
  flex-direction: column;
}


.dulceDLeche {
  display: flex;
  justify-content: end;

}

.dulceDLeche img {
  /* background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto; */
  max-width: 50%;
  /* Limita el ancho de la imagen */

  /*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.titulo {
  text-align: center;
  justify-content: flex-end;
  padding: 10px;
}

h3 {
  color: var(--color);
  font-weight: 100;
}

.presentacion1 {
  color: var(--color);
  font-weight: 500;
  overflow: hidden;
}

.claro {
  border: 2px solid #B18D72;
  color: var(--color);
}

/***************************************** Sin azucar**************************************** */
.sinAzucar {
  display: flex;
  justify-content: end;
}

.sinAzucar img {
  /*   background-image: url(./assets/img/productos/Producto2.png); */
  /* background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto; */
  max-width: 50%;

}

/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 */

.presentacion2 {
  color: var(--color);
  font-weight: 500;
  overflow: hidden;
}

h4 {
  color: var(--color);
  font-weight: 100;

}

/***********************************************Dulce Choconutt ***********************************************/
.dChoconutt {
  display: flex;
  justify-content: end;
}

.dChoconutt img {
  /* background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto; */
  /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  max-width: 50%;
}

.presentacion3 {
  color: var(--color);
  font-weight: 500;
  overflow: hidden;

}

h5 {
  color: var(--color);
  font-weight: 100;

}

/***************************************** Destacado**************************************** */
.destacado {
  display: flex;
  justify-content: end;
  background-color: #BBA076;
}

.destacado img {
  /*   background-image: url(./assets/img/productos/Producto2.png); */
  /* background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: auto; */
  max-width: 50%;

}

/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 */

.presentacion4 {
  color: #63421E;
  font-weight: 500;
  overflow: hidden;
}

h6 {
  color: #63421E;
  font-weight: 100;

}

.oscuro {
  border: 2px solid #63421E;
  color: #63421E;

}


/***************************************** Contacto**************************************** */
.contacto {
  background: rgb(44, 41, 42);
  background: radial-gradient(circle, rgba(44, 41, 42, 1) 34%, rgba(44, 41, 42, 1) 40%, rgba(44, 41, 42, 1) 72%, rgba(44, 41, 42, 1) 100%);
}

.calidad p {
  text-align: center;
  font-weight: 600;
}

.iconos {
  text-align: center;
  padding: 30px;
  margin: 40px 10px;

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icono {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;

}

.txt {
  color: #BBA076;
  margin-top: 10px;
}

.contac {
  color: white;
  text-align: center;
  margin: 0;
}

/***************************************** Formulario**************************************** */
.formulario {
  display: flex;
  /*   justify-content: flex-end; 
 */
}

.formulario img {
  max-width: 50%;
  max-height: 50%;

}

form {
  max-width: 50%;
  max-height: 50%;
  margin-right: 20px;
}

.formulario p {
  color: #684827;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}


label {
  color: #856A4E;
}

.form-control {
  background-color: #856A4E;


}

/* ver boton o hago un input */
.btn-outline-primary {
  align-items: center;
  color: #684827;
}

.btn-outline-primary:hover {
  background-color: white;
}


/***************************************** Recetas**************************************** */
.recetas {
  background-color: black;

}

.rec {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



.card {
  background-color: #BBA076;
}

.card-body {
  text-align: center;
}

.card-title {
  color: #684827;
  font-weight: 600;
}

.botoncito {
  font-weight: 600;
  border: 2px solid #684827;
  background-color: #BBA076;
  color: #684827;
}

/***************************************** Media Query**************************************** */
@media screen and (max-width:775px) {
  .dulceDLeche img {
    width: 20rem;
  }
}

/* 
@media screen and (max-width:650px) {
  .contPrincipal {}
} */

@media (max-width: 768px) {
  .alinear {
    width: 100%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .alinear button {
    font-size: 0.9rem;
  }
}