
.fotoBanner{
    background-image: url(./assets/img/banner.png);
   background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width:100% ;
    height: auto;
    display: flex; 
    justify-content: flex-end;

}
.alinear{
  height:450px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  
}
h1,
p{
color:white
} 

/* .alinear a{
    margin-top: 2rem;
    text-decoration: none;
    color:black;
    background-color: #c7a17a;
    display:inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
} */